<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="templates/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% block header %}{% endblock header %}
    <title>the Network - {% block title %}{% endblock title %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid d-flex justify-content-start">
            <a href="/" class="navbar-brand">the Network</a>
            <form method="post" class="d-flex me-auto">
                <input type="search" class="form-control me-2" placeholder="Search" aria-label="Search"
                    name="searchInput">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% block navbar %}
                {% endblock navbar %}
            </ul>
        </div>
    </nav>

    <!-- Register Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Register</h5>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="index.php/register">
                        <div class="mb-3 row">
                            <div class="col">
                                <label for="firstNameInput" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstNameInput" name="firstName">
                            </div>
                            <div class="col">
                                <label for="middleNameInput" class="form-label">Middle Name</label>
                                <input type="text" class="form-control" id="middleNameInput" name="middleName" aria-describedby="middleNameHelp">
                                <div class="form-text" id="middleNameHelp">Optional</div>
                            </div>
                            <div class="col">
                                <label for="lastNameInput" class="form-label">LastName</label>
                                <input type="text" class="form-control" id="lastNameInput" name="lastName">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col">
                                <label for="emailInput" class="form-label">Email Address</label>
                                <input type="email" class="form-control" id="emailInput" name="emailAddress" placeholder="address@example.com">
                            </div>
                            <div class="col">
                                <label for="dateOfBirthInput" class="form-label">Date of Birth</label>
                                <input type="date" class="form-control" id="dateOfBirthInput" name="dateOfBirth">
                            </div>
                            <div class="col">
                                <label for="currentCityInput" class="form-label">Current City</label>
                                <input type="text" class="form-control" id="currentCityInput" name="currentCity" aria-describedby="currentCityHelp">  
                                <div class="form-text" id="currentCityHelp">Optional</div>    
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col">
                                <label for="passwordInput" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passwordInput" name="password">
                            </div>
                            <div class="col">
                                <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPasswordInput" name="confirmPassword">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Login Model -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="./login">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="emailInput" class="form-label">Email Address</label>
                                <input type="email" class="form-control" id="emailInput" placeholder="address@example.com">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="passwordInput" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passwordInput">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {# PAGE CONTENT HERE #}
    {% endblock content %}
</body>

</html>