{% extends 'admin/adminBase.html.twig' %}

{% block header %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        
        $("#logout").click(function () {
            $.ajax({
                url: '/logout',
                type: 'GET',
                dataType: false,
                success: function () {
                    location.reload();
                    $.ajax({
                        url: "/",
                        type: "GET",
                        dataType: false
                    });
                }
            });
        });

        function loadNotification() {
            $.ajax({
                url: '/notifications',
                type: 'GET',
                dataType: false,
                success: function(data) {
                    $("#notificationDropdown").html(data);
                }
            });
        }
        
    });
</script>
{% endblock header %}

{% block title %}User Reports{% endblock title %}

{% block navbar %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-bell"></i>
    </a>
    <ul class="dropdown-menu" id="notificationDropdown" aria-labelledby="navbarDropdown">
    </ul>
</li>
<li class="nav-item">
    <a href="/admin" class="nav-link active">Profile</a>
</li>
<li class="nav-item">
    <a href="" class="nav-link active" id="logout">Log Out</a>
</li>
{% endblock navbar %}

{% block content %}
<div class="container-fluid fill col-6 text-center">
    {% if badUser.middleName %}
        <h1>Reports for User <span class="text-primary">{{ badUser.firstName ~ " " ~ badUser.middleName ~ " " ~ badUser.lastName }}</span></h1>
    {% endif %}
    {% if not badUser.middleName %}
    <h1>Reports for User <span class="text-primary">{{ badUser.firstName ~ " " ~ badUser.lastName }}</span></h1>
    {% endif %}
</div>
<div class="container-fluid vh-100">
    <div class="row justify-content-center vh-100">
        <div class="col-10 hidden-md-down bg-primary text-white">
            <div class="row justify-content-center text-center">
                <div class="table-responsive p-0">
                <table class="table table-light table-striped table-bordered table-hover">
                    <tr>
                        <th colspan="7"><h4>Reports</h4></th>
                    </tr>
                    <tr>
                        <th style="width: 5%;">Source</th>
                        <th style="width: 10%;">Report Type</th>
                        <th style="width: 5%;">Plaintiff Id</th>
                        <th style="width: 15%;">Plaintiff First Name</th>
                        <th>Plaintiff Note</th>
                        <th style="width: 10%;">Created On</th>
                        <th style="width: 10%;">View Origin</th>
                    </tr>
                    {% for r in reports %}
                    <tr>
                        <td>
                        {% if r.commentId == null %}
                            Post
                        {% else %}
                            Comment
                        {% endif %}
                        </td>
                        <td>{{ r.type }}</td>
                        <td>{{ r.plaintiffId }}</td>
                        <td>{{ r.firstName }}</td>
                        <td>{{ r.note }}</td>
                        <td>{{ r.createdAt|date("d/m/Y") }}</td>
                        <td>
                            {# FIXME #}
                            <a href="#" class="btn btn-primary" role="button" aria-pressed="true">View Post</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
            {# ALL THESE LINKS WILL NEED TO BE CHANGED AT IMPLEMENTATION #}
            <div class="justify-content-center text-center mt-5">
                <a href="/admin/manage/user/{{ badUser.userId }}" class="btn btn-outline-light btn-lg px-5" role="button" aria-pressed="true">Manage User Account</a>
            </div>
            
            <div class="justify-content-center text-center mt-5">
                <a href="/admin/reports" class="btn btn-outline-light btn-lg px-5" role="button" aria-pressed="true">Return to Reports Overview</a>
            </div>
            <div class="justify-content-center text-center mt-5">
                <a href="/admin" class="btn btn-outline-light btn-lg px-5" role="button" aria-pressed="true">Return to Overview</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}