{% extends 'base.html.twig' %}

{% block header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".form-check-label").hide();

        $("#registerModal").on("shown.bs.modal", function () {
            $(".form-check-label").hide();
            $(".is-invalid").removeClass("is-invalid");

        });

        $("#loginModal").on("shown.bs.modal", function () {
            $(".form-check-label").hide();
            $(".is-invalid").removeClass("is-invalid");

        });

        // Login
        $("#loginForm").submit(function (e) {
            e.preventDefault();
            $(".is-invalid").removeClass("is-invalid");
            $(".form-check-label").hide();

            var emailAddress = $("#loginEmailInput").val();
            var password = $("#loginPasswordInput").val();

            var loginObject = { emailAddress: emailAddress, password: password };
            var jsonStr = JSON.stringify(loginObject);
            $.ajax({
                url: '/login',
                type: 'POST',
                dataType: 'json',
                data: jsonStr,
                error: function () {
                    $("#loginEmailInput").addClass("is-invalid");
                    $("#loginPasswordInput").addClass("is-invalid");
                    $('label[for="loginPasswordInput"]').show();
                },
                success: function () {
                    location.reload();
                }
            });
        });

        // Validate registration on submit
        $("#registerForm").submit(function (e) {
            e.preventDefault();
            if (validateRegistration() == true) {

                var firstName = $("#firstNameInput").val();
                var middleName = $("#middleNameInput").val();
                var lastName = $("#lastNameInput").val();
                var emailAddress = $("#emailInput").val();
                var dateOfBirth = $("#dateOfBirthInput").val();
                var currentCity = $("#currentCityInput").val();
                var password = $("#passwordInput").val();


                registrationObj = { firstName: firstName, middleName: middleName, lastName: lastName, emailAddress: emailAddress, dateOfBirth: dateOfBirth, currentCity: currentCity, password: password };
                var jsonStr = JSON.stringify(registrationObj);

                $.ajax({
                    url: '/register',
                    type: 'POST',
                    dataType: "json",
                    data: jsonStr,
                    success: function () {
                        location.reload();
                        $.ajax({
                            url: "/",
                            type: "GET",
                            dataType: false
                        });
                    }
                });
            }
        });

        function validateRegistration() {
            $(".is-invalid").removeClass("is-invalid");
            $(".form-check-label").hide();

            var registrationValid = true;
            // Validate first name
            var firstName = $("#firstNameInput").val();
            var nameRegex = /^[a-zA-Z0-9 \,\'\.\-]{2,100}$/;

            if (!nameRegex.test(firstName)) {
                $("#firstNameInput").addClass("is-invalid");
                $('label[for="firstNameInput"]').show();
                registrationValid = false;
            }

            // Validate middle name
            var middleName = $("#middleNameInput").val();

            if (middleName != "") {
                if (!nameRegex.test(middleName)) {
                    $("#middleNameInput").addClass("is-invalid");
                    $('label[for="middleNameInput"]').show();
                    registrationValid = false;
                }
            }

            // Validate last name
            var lastName = $("#lastNameInput").val();
            var nameRegex = /^[a-zA-Z0-9 \,\'\.\-]{2,100}$/;

            if (!nameRegex.test(lastName)) {
                $("#lastNameInput").addClass("is-invalid");
                $('label[for="lastNameInput"]').show();
                registrationValid = false;
            }

            // Validate email address
            var emailAddress = $("#emailInput").val();
            var emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
            if (!emailRegex.test(emailAddress)) {
                $("#emailInput").addClass("is-invalid");
                $('label[for="emailInput"').show();
                registrationValid = false;
            }

            // Validate date of birth
            if ($("#dateOfBirthInput").val() == "") {
                $("#dateOfBirthInput").addClass("is-invalid");
                $('label[for="dateOfBirthInput"').show();
                registrationValid = false;
            }
            var dateOfBirth = new Date($("#dateOfBirthInput").val());
            var date1 = new Date(1990, 01, 01);
            var date2 = new Date(2020, 01, 01);
            if (dateOfBirth < date1 || dateOfBirth > date2) {
                $("#dateOfBirthInput").addClass("is-invalid");
                $('label[for="dateOfBirthInput"').show();
                registrationValid = false;
            }

            // Validate current city
            var currentCity = $("#currentCityInput").val();
            if (currentCity != "") {
                if (!nameRegex.test(currentCity)) {
                    $("#currentCityInput").addClass("is-invalid");
                    $('label[for="currentCityInput"]').show();
                    registrationValid = false;
                }
            }

            // Validate password
            var password = $("#passwordInput").val();
            var confirmPassword = $("#confirmPasswordInput").val();
            var passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
            if (!passwordRegex.test(password)) {
                $("#passwordInput").addClass("is-invalid");
                $('label[for="passwordInput"').show();
                registrationValid = false;
            }
            if (password !== confirmPassword) {
                $("#confirmPasswordInput").addClass("is-invalid");
                $('label[for="confirmPasswordInput"').show();
                registrationValid = false;
            }

            return registrationValid;
        }
    });
</script>
{% endblock header %}

{% block title %}Home{% endblock title %}

{% block navbar %}
<li class="nav-item">
    <button class="btn btn-link nav-link active" type="button" data-bs-toggle="modal"
        data-bs-target="#loginModal">Login</button>
</li>
<li class="nav-item">
    <button class="btn btn-link nav-link active" type="button" data-bs-toggle="modal"
        data-bs-target="#registerModal">Register</button>
</li>
{% endblock navbar %}
{% block content %}

<!-- Register modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Register</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="registerForm" enctype="multipart/form-data">
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="firstNameInput" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstNameInput" name="firstName">
                            <label for="firstNameInput" class="form-check-label text-danger">First name must be 2-100
                                characters long. Accepted characters are upper/lower case letters, digits, commas,
                                periods and dashes</label>
                        </div>
                        <div class="col">
                            <label for="middleNameInput" class="form-label">Middle Name</label>
                            <input type="text" class="form-control" id="middleNameInput" name="middleName"
                                aria-describedby="middleNameHelp">
                            <div class="form-text" id="middleNameHelp">Optional</div>
                            <label for="middleNameInput" class="form-check-label text-danger">Middle name must be 2-100
                                characters long. Accepted characters are upper/lower case letters, digits, commas,
                                periods and dashes</label>
                        </div>
                        <div class="col">
                            <label for="lastNameInput" class="form-label">LastName</label>
                            <input type="text" class="form-control" id="lastNameInput" name="lastName">
                            <label for="lastNameInput" class="form-check-label text-danger">Last name must be 2-100
                                characters long. Accepted characters are upper/lower case letters, digits, commas,
                                periods and dashes</label>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="emailInput" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="emailInput" name="emailAddress"
                                placeholder="address@example.com">
                            <label for="emailInput" class="form-check-label text-danger">Email address must be formatted
                                as address@example.com</label>
                        </div>
                        <div class="col">
                            <label for="dateOfBirthInput" class="form-label">Date of Birth</label>
                            <input type="date" class="form-control" id="dateOfBirthInput" name="dateOfBirth">
                            <label for="dateOfBirthInput" class="form-check-label text-danger">Date of birth must be
                                between 1900/01/01 and 2020/01/01</label>
                        </div>
                        <div class="col">
                            <label for="currentCityInput" class="form-label">Current City</label>
                            <input type="text" class="form-control" id="currentCityInput" name="currentCity"
                                aria-describedby="currentCityHelp">
                            <div class="form-text" id="currentCityHelp">Optional</div>
                            <label for="currentCityInput" class="form-check-label text-danger">Current city must be
                                2-100 characters long. Accepted characters are upper/lower case letters, digits, commas,
                                periods and dashes</label>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="passwordInput" class="form-label">Password</label>
                            <input type="password" class="form-control" id="passwordInput" name="password">
                            <label for="passwordInput" class="form-check-label text-danger">Password must be minimum
                                eight characters, at least one letter, one number and one special character</label>
                        </div>
                        <div class="col">
                            <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPasswordInput"
                                name="confirmPassword">
                            <label for="confirmPasswordInput" class="form-check-label text-danger">Password and confirm
                                password must match</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="registerSubmit">Register</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Login Model -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="loginForm">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="loginEmailInput" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="loginEmailInput"
                                placeholder="address@example.com">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="loginPasswordInput" class="form-label">Password</label>
                            <input type="password" class="form-control" id="loginPasswordInput">
                            <label for="loginPasswordInput" class="form-check-label text-danger">Invalid email
                                address/password</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light shadow">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal text-primary">the Network</h1>
            <p class="lead fw-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam animi aperiam sint
                a optio unde magnam commodi veritatis dicta. Iure accusantium ipsam hic doloribus voluptatem commodi
                cumque incidunt quia reprehenderit.</p>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
</div>
{% endblock content %}