{% extends 'base.html.twig' %}

{% block header %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        loadUserFeed();
        var loaded = false;

        $("#submitPostInput").keyup(function () {
            if ($(this).val() != '') {
                $("#postSubmitButton").prop('disabled', false);
            } else {
                $("#postSubmitButton").prop('disabled', true);
            }
        });

        $("#logout").click(function () {
            $.ajax({
                url: '/logout',
                type: 'GET',
                dataType: false,
                success: function () {
                    location.reload();
                }
            });
        });

        $("#postSubmission").submit(function (e) {
            e.preventDefault();

            var fd = new FormData(this);

            $.ajax({
                url: '/submitPost',
                type: 'POST',
                data: fd,
                contentType: false,
                processData: false,
                error: function () {
                    alert("File too big");
                }
            }).done(function () {
                loaded = false;
                location.reload();
                loadUserFeed();
            });
        });

        function loadUserFeed() {
            if (loaded) return;
            $.ajax({
                url: '/feed',
                type: 'GET',
                dataType: false,
                success: function (data) {
                    $("#userFeed").html(data);
                    loadNotifications();
                }
            });
            loaded = true;
        }

        function loadNotifications() {
            $.ajax({
                url: '/notifications',
                type: 'GET',
                dataType: false,
                success: function (data) {
                    $("#notificationDropdown").html(data);
                }
            });
        }

    });
</script>
{% endblock header %}
{% block title %}Feed{% endblock title %}
{% block navbar %}
<div id="notificationDropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-bell"></i>
    </a>
</div>
<li class="nav-item">
    <a href="/user" class="nav-link active">Profile</a>
</li>
<li class="nav-item">
    <a href="" class="nav-link active" id="logout">Log Out</a>
</li>
{% endblock navbar %}
{% block content %}
<div class="container mt-3 mb-4" id="#feedContainer" style="max-width: 60%;">
    <div class="card" id="submitPost">
        <div class="card-header bg-primary p-2">
            <h6 for="submitPostInput" class="text-light">Post Something!</h6>
        </div>
        <div class="card-body">
            <form method="post" id="postSubmission" enctype="multipart/form-data">
                <textarea id="submitPostInput" rows="3" class="form-control" name="content"></textarea>
                <input type="file" name="file" id="file" class="form-control">
                <button class="btn btn-primary mt-2" type="submit" id="postSubmitButton" disabled>Submit</button>
            </form>
        </div>
        <div class="card-footer bg-primary">
        </div>
    </div>
    <div id="userFeed">
        {#% include 'user_feed.html.twig' %#}
    </div>
</div>
{% endblock content %}