body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
textarea {
    resize: none;
}
.fill { 
    min-height: 100%;
    height: 100%;
}
.fullHeight {
    height: 100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
} 
#chart-container {
    width: 100%;
    height: auto;
}