{% block head %}
<script>
    function likePost(id) {
        $.ajax({
            url: '/post/' + id + '/like',
            type: 'PATCH',
            dataType: false
        });
    }

    function commentPost(id) {
        var content = $('#commentArea' + id).val();

        var commentObj = { postId: id, content: content };
        var jsonStr = JSON.stringify(commentObj);
        $.ajax({
            url: '/post/comment',
            type: 'post',
            data: jsonStr,
            dataType: 'json'
        })
    }

    function reportPost(id) {
        $.ajax({
            url: '/post/' + id + '/report',
            type: 'POST',
            dataType: false
        });
    }

    function reportComment(id) {
        $.ajax({
            url: '/comment/' + id + '/report',
            type: 'POST',
            dataType: false
        });
    }

</script>
{% endblock head %}

{% block feed %}
{% for post in postList %}
<div class="card mt-3">
    <div class="card-header bg-primary">
        <div class="media d-flex flex-row">
            <img class="align-self-center mr-3 rounded-circle" alt="" src="uploads/{{ post.profilePicturePath }}"
                width="30" height="30">
            <div class="media-body p-2">
                <h6 class="card-title mt-0">
                    <a href="/user/{{ post.userId }}" class="card-link text-decoration-none text-light">{{
                        post.firstName }}{{ post.middleName
                        == "" ? "" : post.middleName }} {{ post.lastName }}</a>
                </h6>
            </div>
            <div class="dropdown ms-auto p-2">
                <a href="" class="text-light text-decoration-none" id="reportPostDropDown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu" aria-labelledby="reportPostDropDown">
                    <li>
                        <a href="" class="dropdown-item" onclick="reportPost('{{ post.postId }}')">Report</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% if post.picturePath %}
    <img src="uploads/{{ post.picturePath }}" alt="" class="card-img-top p-3">
    {% endif %}
    <div class="card-body">
        <p class="card-text">{{ post.content }}
        </p>
        <p class="card-text"><small class="text-muted">Posted on {{ post.createdAt }}</small></p>
    </div>
    <div class="card-footer text-light d-flex flex-row bg-primary">

        <a class="btn btn-link text-decoration-none text-light p-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#commentCollapse{{ post.postId }}" aria-expanded="false"
            aria-controls="commentCollapse{{ post.postId }}">
            <i class="bi bi-chat-left-text"></i> Comment
        </a>
        <a href="" onclick="likePost('{{ post.postId }}');" class="text-light text-decoration-none p-2"><i
                class="bi bi-hand-thumbs-up"></i> Like <span class="badge bg-light text-primary">{{ post.likes
                }}</span></a>
    </div>
    <div class="collapse" id="commentCollapse{{ post.postId }}">
        <div class="card card-body">
            <form>
                <div class="form-group mb-3">
                    <textarea class="form-control" name="commentArea" id="commentArea{{ post.postId }}"
                        rows="4"></textarea>
                </div>
                <button onclick="commentPost('{{ post.postId }}')" class="btn btn-primary" type="submit"
                    id="commentSubmit">Send</button>
            </form>
        </div>
    </div>
    {% for comment in post.comments %}
    <div id="postComments">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex flex-row">
                    <img class="align-self-center rounded-circle" alt="" src="uploads/{{ comment.profilePicturePath }}"
                        width="30" height="30">
                    <a class="text-decoration-none p-2" href="user/{{ comment.userId }}">{{
                        comment.firstName }}{{ comment.middleName
                        == "" ? "" : comment.middleName }} {{ comment.lastName }}</a>
                    <div class="dropdown ms-auto p-2">
                        <small class="text-muted small p-2">Posted on {{ comment.createdAt }}</small>
                        <a href="" class="text-primary text-decoration-none" id="reportCommentDropDown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu" aria-labelledby="reportCommentDropDown">
                            <li>
                                <a href="" class="dropdown-item"
                                    onclick="reportComment('{{ comment.commentId }}')">Report</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <p>{{ comment.content }}</p>
                </div>
            </li>
        </ul>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock feed %}