{% extends 'base.html.twig' %}

{% block header %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {

        $("#logout").click(function () {
            $.ajax({
                url: '/logout',
                type: 'GET',
                dataType: false,
                success: function () {
                    location.reload();
                    $.ajax({
                        url: "/",
                        type: "GET",
                        dataType: false
                    });
                }
            });
        });

        function loadNotification() {
            $.ajax({
                url: '/notifications',
                type: 'GET',
                dataType: false,
                success: function(data) {
                    $("#notificationDropdown").html(data);
                }
            });
        }
        
    });
</script>
{% endblock header %}

{% block title %}My Comments{% endblock title %}

{% block navbar %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-bell"></i>
    </a>
    <ul class="dropdown-menu" id="notificationDropdown" aria-labelledby="navbarDropdown">
    </ul>
</li>
<li class="nav-item">
    <a href="/user" class="nav-link active">Profile</a>
</li>
<li class="nav-item">
    <a href="" class="nav-link active" id="logout">Log Out</a>
</li>
{% endblock navbar %}

{% block content %}

<div class="container-fluid fill col-6 text-center">
    <h1>My Comments</h1>
</div>
<div class="container-fluid vh-100">
    <div class="row justify-content-center vh-100">
        <div class="col-10 hidden-md-down bg-primary text-white">
            <div class="row justify-content-center text-center">
                <div class="table-responsive p-0">
                <table class="table table-light table-striped table-bordered table-hover">
                    <tr>
                        <th>Comment</th>
                        <th style="width: 5%;">Likes</th>
                        <th>Created</th>
                        <th style="width: 5%;">View Comment</th>
                    </tr>
                    {% for c in userComments %}
                    <tr>
                        <td>{{ c.content }}</td>
                        <td>{{ c.likes }}</td>
                        <td>{{ c.createdAt|date("d/m/Y") }}</td>
                        <td>
                            {# fix link #}
                            <a href="#" class="btn btn-primary" role="button" aria-pressed="true">Go</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
                <div class="justify-content-center text-center mt-5">
                    <a href="/user" class="btn btn-outline-light btn-lg px-5" role="button" aria-pressed="true">Return to Profile Overview</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}